*.class
*.log
*.jar
*.jar.old

atlassian-ide-plugin.xml

# by sbt-extras
project/project/
project/.sbtboot/
project/.boot/
project/.ivy/

# Eclipse specific
.classpath
.project
.settings/
.metadata

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Project statistics
stats

# Java heap dump files
java_pid*


# Gradle:
.idea/gradle.xml

# InteliJ IDEA
.idea
*.iml
.idea/libraries
.idea/modules

# Thumbnails
._*

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# MacOS X specific
.DS_Store

# Atom editor specific
_config.yml
project/project/
build/deploy.asc
build/git_credentials.asc